<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".DoctorApp"
        android:allowBackup="false"
        android:icon="@android:drawable/ic_menu_myplaces"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@android:drawable/ic_menu_myplaces"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoctorApp"
        tools:targetApi="31">

        <activity
            android:name=".activities.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.RegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".activities.DashboardActivity"
            android:exported="false" />

        <activity
            android:name=".activities.CaseDetailActivity"
            android:exported="false" />

        <activity
            android:name=".activities.EmergencyDetailActivity"
            android:exported="false" />

        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" />
    </application>
</manifest>
